<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpOrderShipListMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpOrderShipList">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="shopType" column="shop_type" jdbcType="INTEGER"/>
            <result property="shipper" column="shipper" jdbcType="INTEGER"/>
            <result property="shipSupplierId" column="ship_supplier_id" jdbcType="BIGINT"/>
            <result property="shipSupplier" column="ship_supplier" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="shipLogisticsCompany" column="ship_logistics_company" jdbcType="VARCHAR"/>
            <result property="shipLogisticsCompanyCode" column="ship_logistics_company_code" jdbcType="VARCHAR"/>
            <result property="shipLogisticsCode" column="ship_logistics_code" jdbcType="VARCHAR"/>
            <result property="shipStatus" column="ship_status" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverMobile" column="receiver_mobile" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="town" column="town" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="buyerMemo" column="buyer_memo" jdbcType="VARCHAR"/>
            <result property="sellerMemo" column="seller_memo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,shop_type,
        shipper,ship_supplier_id,ship_supplier,
        order_id,order_num,ship_logistics_company,
        ship_logistics_company_code,ship_logistics_code,ship_status,
        status,create_time,create_by,
        update_time,update_by,tenant_id,
        receiver_name,receiver_mobile,address,
        province,city,town,
        remark,buyer_memo,seller_memo
    </sql>
</mapper>
