<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpPurchaseOrderItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpPurchaseOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="transtype" column="transType" jdbcType="CHAR"/>
            <result property="amount" column="amount" jdbcType="DOUBLE"/>
            <result property="orderDate" column="order_date" jdbcType="DATE"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="specId" column="spec_id" jdbcType="BIGINT"/>
            <result property="specNum" column="spec_num" jdbcType="VARCHAR"/>
            <result property="colorValue" column="color_value" jdbcType="VARCHAR"/>
            <result property="colorImage" column="color_image" jdbcType="VARCHAR"/>
            <result property="sizeValue" column="size_value" jdbcType="VARCHAR"/>
            <result property="styleValue" column="style_value" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="disAmount" column="dis_amount" jdbcType="DECIMAL"/>
            <result property="disRate" column="dis_rate" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="BIGINT"/>
            <result property="inqty" column="inQty" jdbcType="BIGINT"/>
            <result property="locationid" column="locationId" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,supplier_id,
        order_id,order_no,transType,
        amount,order_date,remark,
        goods_id,goods_num,goods_name,
        spec_id,spec_num,color_value,
        color_image,size_value,style_value,
        price,dis_amount,dis_rate,
        quantity,inQty,locationId,
        is_delete,status
    </sql>
</mapper>
