<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpPurchaseOrderShipMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpPurchaseOrderShip">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="shipCompany" column="ship_company" jdbcType="VARCHAR"/>
            <result property="shipNo" column="ship_no" jdbcType="VARCHAR"/>
            <result property="freight" column="freight" jdbcType="DECIMAL"/>
            <result property="shipTime" column="ship_time" jdbcType="TIMESTAMP"/>
            <result property="receiptTime" column="receipt_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="backCount" column="back_count" jdbcType="INTEGER"/>
            <result property="stockInTime" column="stock_in_time" jdbcType="TIMESTAMP"/>
            <result property="stockInCount" column="stock_in_count" jdbcType="INTEGER"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="orderDate" column="order_date" jdbcType="DATE"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="orderSpecUnit" column="order_spec_unit" jdbcType="INTEGER"/>
            <result property="orderGoodsUnit" column="order_goods_unit" jdbcType="INTEGER"/>
            <result property="orderSpecUnitTotal" column="order_spec_unit_total" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,supplier_id,
        order_id,ship_company,ship_no,
        freight,ship_time,receipt_time,
        create_by,create_time,status,
        remark,back_count,stock_in_time,
        stock_in_count,update_by,update_time,
        order_date,order_no,order_spec_unit,
        order_goods_unit,order_spec_unit_total
    </sql>
</mapper>
