<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.api.mapper.ErpShipmentItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.api.domain.ErpShipmentItem">
            <id property="id" column="id" />
            <result property="tenantId" column="tenant_id" />
            <result property="shipper" column="shipper" />
            <result property="shipmentId" column="shipment_id" />
            <result property="shopType" column="shop_type" />
            <result property="shopId" column="shop_id" />
            <result property="orderId" column="order_id" />
            <result property="orderNum" column="order_num" />
            <result property="orderItemId" column="order_item_id" />
            <result property="erpGoodsId" column="erp_goods_id" />
            <result property="erpSkuId" column="erp_sku_id" />
            <result property="goodsTitle" column="goods_title" />
            <result property="goodsImg" column="goods_img" />
            <result property="goodsNum" column="goods_num" />
            <result property="goodsSpec" column="goods_spec" />
            <result property="skuNum" column="sku_num" />
            <result property="quantity" column="quantity" />
            <result property="remark" column="remark" />
            <result property="stockStatus" column="stock_status" />
            <result property="createTime" column="create_time" />
            <result property="createBy" column="create_by" />
            <result property="updateTime" column="update_time" />
            <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,shipment_id,shop_type,shop_id,order_id,shipper,order_num,
        order_item_id,erp_goods_id,erp_sku_id,goods_title,goods_img,
        goods_num,goods_spec,sku_num,quantity,remark,
        stock_status,create_time,create_by,update_time,update_by
    </sql>
</mapper>
